body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;
  max-width: 500px;

}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#fetchJoke {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #07961f;
  color: #fff;
  border: none;
  cursor: pointer;
}

#fetchJoke:hover {
  background-color: #813f3f;
}

.boton-borrar {
  margin-top: 10px;
  padding: 4px 8px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.chiste {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;

}

span {
  margin-top: 10px;
  font-size: 14px;
  color: #ec0505;

}


